@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if (Model.ErrorTitle == null)
{
    <h3>
        An occured while processing your request.
        The support team is notified and we are working on the fix
    </h3>
    <h5>Please contact us on honquan@gmail.com</h5>
}
else
{
    <h1 class="text-danger">@Model.ErrorTitle</h1>
    <h6 class="text-danger">@Model.ErrorMessage</h6>
}
